@import '../../styles/_vars';
@import '../../styles/_mixins';

.marker-icon {
  padding: $spacing-xs;
  height: calc($marker-height + $spacing-base);
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  @mixin clickable-dashed-border;
  
  img {
    display: block;
    width: $marker-width;
    height: $marker-height;
    margin: 0;
  }
}

